.container{
    
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

   
}
@media screen and (min-width: 1200px){
    .container{
        width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
} 